defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp.log

account gmail
host smtp.gmail.com
port 587
from __GMAIL_USER__
user __GMAIL_USER__
password __GMAIL_PASS__

account default : gmail
